.splash{
  width: 100%;
  height: 100%;
  color: honeydew;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(#1b3b46, 	#0b181e);
}

.splash > h1{
  font-family: 'Orbitron', sans-serif;
  color: honeydew;
}

.splash > button{
  height: 5em;
  width: 10em;
  text-align: center;
  color: red;
  background: rgba(100, 230, 102, .25);
  border-radius: 5px;
  border-style: dotted;
  border: 1px dashed blue;
}

.splash > button:hover{
  background:rgba(255,255,255, .3);
  color: honeydew;
  cursor:pointer;
}
